h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
.mediaReportNav a{
    color:#fff !important;
}
.mediaReportNav{
    background-color: #1a2632;
}
.indexNav a{
    color:#aaa !important;
}
.indexNav{
    background-color: #20303e !important;
}
.news_w{
    max-width:800px !important;
    margin:7% auto !important;
}
.conDetail{
    min-height: 500px;
}
.conDetailHeader{
    width: 100%;
    height:120px;
    line-height: 120px;
    text-align: center;
    position: relative;
}
.conDetailHeader > h1{
    font-size: 24px;
    display: inline-block;
}
.conDetailHeader > .information{
    width: 100%;
    position: absolute;
    bottom: 5px;
    color:#333;
}
.information b{
    font-weight: 400;
}
.information a{
    color:#333;
}
.information > span{
    padding:  0 10px;
}
.newsDetail{
    margin-top: 10px;
    padding: 30px;
}
.newsDetail > h1{
    text-align: center;
}
.newsDetail img{
    margin: 0 auto;
}
.newsDetail p{
    text-align: left;
    text-indent:2em;
    line-height:30px;
}

.newsDetail h3{
    width: 100%;
}
.newsDetail a{
    color:#333;
}

/*���*/
.fh{
    text-align: center;
}
.fh h1{
    text-align: left;
}
.fh h2{
    text-align: left;
    margin: 15px 0;
}
/*������*/
.shnews{
    max-width: 850px;
    margin: 0 auto;
    color:#666;
    font-size:16px;
}
.shnews img{
    max-width:100%;
}
.shnews .conDetailHeader{
    text-align: left;
}
.shnews .information{
    text-align: left;
}
.shnews .information span{
    padding-left: 0;
}
.shbtn{
    text-align: center;
    margin-top: 50px;
}
.shbtn a{
    padding: 10px  45px;
    background-color: #26bfe2;
    color:#fff;
    border-radius: 35px;
    font-size:18px;
}
.shtext{
    margin-top: 30px;
}
.shstrong{
    text-align: center;
    font-weight:500;
    margin-bottom: 15px;
}
.shimg{text-align: center}
.sh2{
    font-size:16px;
    text-align: left;
}
.rtaday{
    position: fixed;
    right: 50px;
    top: 150px;
    cursor: pointer;
}
.gzimg  img{
    width: 45%;
    margin-right: 3%;
    margin-bottom: 30px;
}
#shbtn{
    position: fixed;
    right:25%;
    bottom: 200px;
}