.joinUsTitle{
    width: 100%;
}
.joinUsTitle img{
    width: 100%;
}
.joinUsContainer{
    width: 100%;
    background-color: #f1f1f1;
    padding: 40px 0;
    float: left;
}
.joinUsJob,.joinUsContact{
    width: 100%;
}
.joinUsJob > h1,.joinUsContact >h1{
    width: 100%;
    font-size: 25px;
}
.joinUsJob > h1 >b,.joinUsContact > h1 > b{
    font-weight: 400;
    color: #666666;
    padding-bottom: 5px;
    border-bottom: 3px solid #26bfe2;
}
.jobContainer{
    width: 100%;
}
.jobNav{
    width: 100%;
    height:30px;
    float: left;
    margin: 30px 0;
}
.jobNav > span{
    float:left ;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    color:#666;
    cursor: pointer;
}
.jobNav > span.btnSpan{
    background-color: #26bfe2;
    color:#fff;
}
.jobList{
    width: 100%;
    height:185px;
    float: left;
}
.jobListLeft ,.jobListLeft{
    float: left;
    width: 45%;
    list-style-image:url("../img/i.png");
    height:185px;
}
.jobListLeft > li,.jobListRight >li{
    padding: 5px 0;
}
.jobListLeft > li >a,.jobListRight >li > a{
    font-size: 18px;
}
.jobListLeft > li > b,.jobListRight > li > b{
    float: right;
    color:#999;
    font-size: 18px;
    font-weight: 400;
}
.jobListRight{
    float: right;
    width: 45%;
    text-align: left;
}
.joinUsContact{
    float: left;
    margin-top: 20px;
}
.joinUsTel{
    margin-top:40px;
}


/*导航相关*/
.navMenu > li.indexNav,.mediaReportNav,.toolsNav,.aboutUsNav{
    background-color: #20303e;
}
.navMenu > li.indexNav > a{
    color:#666;
}
.joinUsNav{
    background-color: #1a2632 !important;
}
.joinUsNav a{
    color:#fff !important;
}
/*导航相关结束*/