/* 登录 */
.SignContainer{
    width: 100%;
    background: url('../img/signBackgr.png') 0 0 no-repeat;
    background-size: 100% 100%;
    padding: 92px 0;
}
.SignLayer{
    width: 350px;
    margin: 0 auto;
    border:1px solid #c5ccd4;
    padding: 20px;
}
.SignLayer > h1{
    width: 100%;
    font-size: 25px;
    color:#243645;
    border-left: 3px solid #26bfe2;
    padding-left: 10px;
    line-height: 26px;
}
.SignInput{
    width: 100%;
}
.SignInput input{
    width: 100%;
    height:45px;
    margin: 10px 0;
    border:1px solid #ddd;
    padding: 0 20px;
    font-size: 16px;
}
.SignInput .btnSign{
    background-color: #26bfe2;
    color:#fff;
    font-size: 20px;
}
.hotlink{
    width: 100%;
    text-align: right;
}
.hotlink > a{
    padding-left: 20px;
    color:#26bfe2;
}

.signErr{
    color:red;
    height:30px;
    background-color: #fff262;
}
.signErr span{
    display: inline-block;
    padding:5px 10px;
}
/* 登录结束 */


/* 注册 */
.registerContainer{
    width: 100%;
    background: url('../img/registerB.png') 0 0 no-repeat;
    background-size: 100% 100%;
    padding: 92px 0;
}
.registerLayer{
    width: 380px;
    margin: 0 auto;
    border:1px solid #c5ccd4;
    padding: 20px;
}
.registerLayer > h1{
    width: 100%;
    font-size: 25px;
    color:#243645;
    border-left: 3px solid #26bfe2;
    padding-left: 10px;
    line-height: 26px;

}
.registerInput{
    width: 100%;
}
.registerInput input{
    width: 100%;
    height:45px;
    margin: 10px 0;
    border:1px solid #ddd;
    padding: 0 20px;
    font-size: 16px;
}
.registerInput > h2{
   margin-top:5px;
    color:#666666;
}
.registerInput .VerificationCode > input{
    width: 65%;
}
.registerInput .VerificationCode .btnObtainCode{
    width: 30%;
    background-color: #f1f1f1;
    float: right;
    text-align: center;
    padding: 0;
    color:#cccccc;
}
.btnRegister input{
    width: 100%;
    height:45px;
    margin: 10px 0;
    border:1px solid #ddd;
    padding: 0 20px;
    font-size: 20px;
    background-color: #26bfe2;
    color:#fff;
    font-weight: 700;
}
.clause > .btnAgree {
    width: 17px;
    height: 17px;
    display: inline-block;
    background-color: #26bfe2;
    text-align: center;
    line-height: 14px;
    border-radius: 4px;
    cursor: pointer;
}
.clause a{
    color:#26bfe2;
}

.registerErr{
    color:red;
    height:30px;
    background-color: #fff262;
}
.registerErr span{
    display: inline-block;
    padding:5px 10px;
}
/* 注册结束 */


/* 修改密码 */
.changePwdContainer{
    width: 100%;
    background: url('../img/registerB.png') 0 0 no-repeat;
    background-size: 100% 100%;
    padding: 92px 0;
}
.changePwdLayer{
    width: 380px;
    margin: 0 auto;
    border:1px solid #c5ccd4;
    padding: 20px;
}
.changePwdLayer > h1{
    width: 100%;
    font-size: 25px;
    color:#243645;
    border-left: 3px solid #26bfe2;
    padding-left: 10px;
    line-height: 26px;
}
.changePwdInput{
    width: 100%;
}
.changePwdInput input{
    width: 100%;
    height:45px;
    margin: 10px 0;
    border:1px solid #ddd;
    padding: 0 20px;
    font-size: 16px;
}
.changePwdInput > h2{
    margin-top:5px;
    color:#666666;
}
.changePwdInput .PwdCode > input{
    width: 65%;
}
.changePwdInput .PwdCode .btnPwdCode{
    width: 30%;
    background-color: #f1f1f1;
    float: right;
    text-align: center;
    padding: 0;
    color:#cccccc;
}
.btnChangePwd{
    width: 100%;
    height:45px;
    margin: 10px 0;
    border:1px solid #ddd;
    padding: 0 20px;
    font-size: 20px;
    background-color: #26bfe2;
    color:#fff;
    font-weight: 700;
}
.changePwdErr{
    color:red;
    height:30px;
    background-color: #fff262;
}
.changePwdErr span{
    display: inline-block;
    padding:5px 10px;
}
/* 修改密码结束 */


/* 个人中心 */
.userCore{
    width: 100%;
    padding: 92px  0;
    background: url('../img/signBackgr.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.userCoreLayer{
    width: 350px;
    margin: 0 auto;
    border:1px solid #c5ccd4;
}
.userCoreInput,.changePwd{
    width: 100%;
    padding: 20px 20px 0;
}
.userCoreInput input,.changePwd input{
    width: 100%;
    height:45px;
    margin: 10px 0;
    border:1px solid #ddd;
    padding: 0 20px;
    font-size: 16px;
}

.userCoreInput .sendCode > input,.userCoreInput .btnsendCode > input{
    width: 65%;
}
.userCoreInput .sendCode .btnUserCore,.userCoreInput .btnsendCode .cancelChange{
    width: 30%;
    background-color: #f1f1f1;
    float: right;
    text-align: center;
    padding: 0;
    color:#cccccc;
}

.btnUserCore,.btnPreservation{
    width: 100%;
    height:45px;
    margin: 10px 0;
    border:1px solid #ddd;
    padding: 0 20px;
    font-size: 20px;
    background-color: #26bfe2;
    color:#fff;
    font-weight: 700;
}
.userCoreTitle{
    width: 100%;
    height:50px;
    line-height: 50px;
    border-bottom:1px solid #d5d5d5
}
.userCoreTitle > span{
    width: 50%;
    text-align: center;
    color:#666;
    font-size: 18px;
    display: block;
    float: left;
    height:50px;
    cursor: pointer;
}
.userCoreTitle > .thatSpan{
    background-color: #26bfe2;
    color:#fff;
}
.confirmChange{
    width: 100%;
    height:45px;
    margin: 10px 0;
    border:1px solid #ddd;
    padding: 0 20px;
    font-size: 20px;
    background-color: #26bfe2;
    color:#fff;
    font-weight: 700;
}

.cancelChange{
    background-color: #26bfe2 !important;
    color:#fff !important;
    font-size: 16px;
    font-family: "Microsoft YaHei" !important;
}
.userCoreErr{
    color:red;
    height:30px;
    background-color: #fff262;
    margin: 0 20px 20px;
}
.userCoreErr span{
    display: inline-block;
    padding:5px 10px;
}
/* 个人中心结束 */


/*导航样式*/
.indexNav{
    background-color:#1a2632;
}
.indexNav > a{
    color:#fff;
}
/*导航样式结束*/
